<div class="search-form mt-5">
    <form method="POST">
        <div class="form-group">
            <label for="searchInput">KeyWord</label>
            <input type="text" name="q" class="form-control" id="searchInput" placeholder="Enter KeyWord...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>